mixin button(options={}) 
  - 
    const {
      text = '', 
      classes = '', 
      arrow = false, 
      href = '#'
    } = options
  if (arrow)
    a.button.button_with-arrow(class=classes href=href)
      p.button__text=text
      .arrow
  else
    a.button(class=classes href=href)
      p.button__text=text

