mixin datepicker(options={})
  - 
    const {
      label = 'Datepicker', 
      value = '', 
      type = '', 
      leftLabel = '', 
      rightLabel = '', 
      classes = '' , 
      inputClasses = ['datepicker-here'], 
      tick = false
    } = options
  case type
    when 'double'
      .datepicker-input.datepicker-input_type_double(class=classes)
        .datepicker-input__field.datepicker-input__from
          label.datepicker-input__label=leftLabel
            input.datepicker-input__value.datepicker-input__value-from(type="text" placeholder="ДД.MM.ГГГГ")
            if(tick)
              +tick()
        .datepicker-input__field.datepicker-input__to 
          label.datepicker-input__label=rightLabel
            input.datepicker-input__value.datepicker-input__value-to(type="text"  placeholder="ДД.MM.ГГГГ" value=value)
            if(tick)
              +tick()
    default 
      .datepicker-input(class=classes)
        .datepicker-input__field
          label.datepicker-input__label=label
            input.datepicker-input__value(type="text" class=inputClasses placeholder="ДД.MM.ГГГГ" value=value )
            if(tick)
              +tick()

        