mixin datepicker(options={})
  - const {label = 'Datepicker', value = '', type = '', leftLabel = '', rightLabel = '', classes = ''} = options
  case type
    when 'double'
      .datepicker.datepicker_type_double(class=classes)
        .datepicker__field.datepicker__from
          label.datepicker__label(for="datepicker__from")=leftLabel
            input(type="text" class="datepicker__input datepicker__from-input" name="datepicker__from" placeholder="ДД.MM.ГГГГ")
            +tick()
        .datepicker__field.datepicker__to 
          label.datepicker__label(for="datepicker__to")=rightLabel
            input(type="text" class=" datepicker__input datepicker__to-input" name="datepicker__to" placeholder="ДД.MM.ГГГГ" value=value)
            +tick()
    default 
      .datepicker(class=classes)
        .datepicker__field
          label.datepicker__label=label
            input(type="text" class="datepicker__input" placeholder="ДД.MM.ГГГГ" value=value)
            +tick()

        