mixin card-room(srcOne, srcTwo, srcThree, srcFour, num, text, price, feedback)
  .card-room 
    .card-room__slider
      .card-room__slider-arrow-back
      .card-room__slide-one.card-room__slide
        img(src=srcOne, alt="")
      .card-room__slide-two.card-room__slide
        //- img(src=srcTwo, alt="")
      .card-room__slide-three.card-room__slide
        //- img(src=srcThree, alt="")
      .card-room__slide-four.card-room__slide
        //- img(src=srcFour, alt="")
      .card-room__slider-arrow-next
      .card-room__slider-dots
    .card-room__info
      .card-room__info-top
        p.card-room__heading № 
          span.card-room__heading-num=num
            if text
              span.card-room__heading-text=text
        p.card-room__price=price
          span.card-room__price-text в сутки 
      .card-room__info-bottom
        +rate("card-room__rate")
        p.card-room__feedback=feedback
          span Отзывов
      