mixin comment(options={})
  - 
    const {
      author = 'author',  
      text = 'text', 
      time = 'time', 
      likeCount = 0, 
      src = 'src',
      classes = [''] 
    } = options
  .comment(class=classes)
    .comment__left
      .comment__img
        img(src=src, alt=author)
      +like(likeCount)
    .comment__right
      h6.comment__author=author
      p.comment__time=time
      p.comment__text=text