mixin comment(options={})
  - 
    const {
      author = 'author',  
      text = 'text', 
      time = 'time', 
      likeCount = 0, 
      src = 'src',
      classes = [''] 
    } = options
  .comment(class=classes)
    .comment__header
      .comment__img
        img(src=src, alt=author)
      .comment__info
        h6.comment__author=author
        p.comment__time=time
    .comment__main
      +like({
        count: likeCount,
        classes: ['comment__like']
      })
      p.comment__text=text

            